.plugproductsBW{
     margin-top: 20px;
}
.emptycartdisplay{
    text-align: center;
    margin-bottom: 20px;
}
.plugcontainer{
    max-width: 760px;
    justify-content: space-around;
    margin: 0 auto;
    float: initial;
}
.plugheader{
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    margin: 0 auto;
}
.plugfooter{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    margin-top: 20 px;
    margin-bottom: 20 px;
}
.plugtitleproduct{
    width: 40%;
    padding-left: 10%;
}
.plugtitleprice{
    width: 20%;
    display: flex;
    align-items: center;
}
.plugtitlequantity{
    width: 30%;
    display: flex;
    align-items: center;
}
.plugtitletotal{
    width: 0%;
    display: flex;
    align-items: center;
}
.DPcontainer{
    list-style: none;
    width: 100%;
    height: 90px;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainer > li {
    display: inline-block;

}
.DPcontainer1{
    width: 100px;
}
.DPcontainer2{
    padding-left: 5px;
}
.DPcontainer3{
    padding-left: 24px;
}
.quantitygrams{
    padding-left: 50px;
}
.totalcartDP{
    float: right;
    padding-left: 0px;
}
.Rands{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
    
.centre{
    width: 20%;
    margin-right: auto;
    display: block;
}
.DPcontainerCC{
    position: relative;
    list-style: none;
    width: 100%;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerCC > li {
    display: inline-block;

}
.DPcontainer1CC{
    width: 100px;
}
.DPcontainer2CC{
    padding-left: 5px;
}
.DPcontainer3CC{
    padding-left: 24px;
}
.quantitygramsCC{
    padding-left: 50px;
}
.totalcartCC{
    float: right;
    padding-left: 0px;
}
.RandsCC{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
    
.centreCC{
    width: 20%;
    margin-right: auto;
    display: block;
}
.DPcontainerOC{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerOC > li {
    display: inline-block;

}
.DPcontainer1OC{
    width: 100px;
}
.DPcontainer2OC{
    padding-left: 5px;
}
.DPcontainer3OC{
    padding-left: 24px;
}
.quantitygramsOC{
    padding-left: 50px;
}
.totalcartOC{
    float: right;
    padding-left: 0px;
}
.RandsOC{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
    
.centreOC{
    width: 20%;
    margin-right: auto;
    display: block;
}

.DPcontainerBW{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerBW > li {
    display: inline-block;

}
.DPcontainer1BW{
    width: 100px;
}
.DPcontainer2BW{
    padding-left: 5px;
}
.DPcontainer3BW{
    padding-left: 24px;
}
.quantitygramsBW{
    padding-left: 50px;
}
.totalcartBW{
    float: right;
    padding-left: 0px;
}
.RandsBW{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.centreBW{
    width: 20%;
    margin-right: auto;
    display: block;
}

.DPcontainerPR{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerPR > li {
    display: inline-block;

}
.DPcontainer1PR{
    width: 100px;
}
.DPcontainer2PR{
    padding-left: 5px;
}
.DPcontainer3PR{
    padding-left: 24px;
}
.quantitygramsPR{
    padding-left: 50px;
}
.totalcartPR{
    float: right;
    padding-left: 0px;
}
.RandsPR{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.centrePR{
    width: 20%;
    margin-right: auto;
    display: block;
}

.DPcontainerNL{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerNL > li {
    display: inline-block;

}
.DPcontainer1NL{
    width: 100px;
}
.DPcontainer2NL{
    padding-left: 5px;
}
.DPcontainer3NL{
    padding-left: 24px;
}
.quantitygramsNL{
    padding-left: 50px;
}
.totalcartNL{
    float: right;
    padding-left: 0px;
}
.RandsNL{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.centreNL{
    width: 20%;
    margin-right: auto;
    display: block;
}

.DPcontainerCCES{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerCCES > li {
    display: inline-block;

}
.DPcontainer1CCES{
    width: 100px;
}
.DPcontainer2CCES{
    padding-left: 5px;
}
.DPcontainer3CCES{
    padding-left: 24px;
}
.quantitygramsCCES{
    padding-left: 50px;
}
.totalcartCCes{
    float: right;
    padding-left: 0px;
}
.RandsCCES{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.centreCCES{
    width: 20%;
    margin-right: auto;
    display: block;
}

.DPcontainerPE{
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
    overflow-y: hidden;
}
.DPcontainerPE > li {
    display: inline-block;

}
.DPcontainer1PE{
    width: 100px;
}
.DPcontainer2PE{
    padding-left: 5px;
}
.DPcontainer3PE{
    padding-left: 24px;
}
.quantitygramsPE{
    padding-left: 50px;
}
.totalcartPE{
    float: right;
    padding-left: 0px;
}
.RandsPE{
    padding-left: 65px;
}
.upbutton{
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.centrePE{
    width: 20%;
    margin-right: auto;
    display: block;
}
.closebtn{
    display:inline-block;
}
.gramsamount{
    display:inline-block;
}
.plugfooterEnd{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    margin-top: 20 px;
    margin-bottom: 20 px;
}
.cartpayment{
    float: right;
}
.totalDelivery{
    float: right;
}
.totalOrderR{
    float: left;
    padding-left: 74.5%;
    display: inline-block;
}
.totalOrderR1{
    float: left;
    padding-left: 76.5%;
    display: inline-block;
}
.totalCart{
    float: left;
    padding-left: 0px;
    display: inline-block;
}
.totalOrder{
    float: right;
    padding-right: 0px;
    display: inline-block;
}
.totalOrder1{
    float: right;
    padding-right: 0px;
    display: inline-block;
}
.totalOrder2{
    float: right;
    padding-right: 0px;
    display: inline-block;
}
.itemsRow{
    white-space: nowrap;
}
.totalsRow{
    white-space: nowrap;
}


