.queen {
    height: 35px;
    width: 35px;
    padding-left: 50px;
}
.king {
    height: 35px;
    width: 35px;
    padding-left: 35px;
}
.lighter {
    height: 35px;
    width: 35px;
    padding-left: 50px;
    padding-bottom: 4px;
}
